html, body {
	margin:0px;
	padding:0px;
}
.container {
	background-image: url("asanoha-400px.png");
	margin-top: 100px;
}
.name{
	text-align: top;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.two {
	padding-top: 0px;
	padding-left: 78px;
	padding-right: 135px;
	padding-bottom: 0px;
	height: 474px;
	width: 836px;
	display: inline-block;
	margin-top: 111px;
	margin-right: -188px;
	margin-left: 147px;
	border-top-style: solid;
	border-color: #f7f0e3;
}
.three {
	background-color: white;
	margin-top: 21px;
	margin-bottom: 52px;
	margin-left: 41px;
	margin-right: 282px;
	padding: 10px;
	padding-top: 9px;
	padding-right: 30px;
	padding-left: 0px;
	padding-bottom: 1px;
}
.header {
    color: white;
    background-color: #68d6b3;
    text-align: center;
    position: absolute;
    margin-left: 265px;
    padding: 20px;
    margin-top: 34px;
}
.picture {
	margin-left: 20px;
	float: left;
	height: 156px;
	width: 203px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 9px;
}
.description {
	margin-right: -26px;
	margin-left: -10px;
	margin-top: 35px;
	width: 516px;
	height: 50px;
	font-size: 16px;
	margin-bottom: 209px;
	color: #777777;
	letter-spacing: 2px;
	padding: 1px;
	padding-left: 1px;
}
.links {
	float: right;
	margin-left: -191px;
	margin-top: 21px;
	margin-right: 1px;
}
#about, #portfolio, #contact {
	float: left;
	text-decoration: none;
}
#about {
	margin-top: 40px;
	margin-right: 15px;
    border-right: 1px solid #DDD;
    padding-right: 15px;
}
#portfolio {
	margin-top: 40px;
	margin-right: 15px;
    border-right: 1px solid #DDD;
    padding-right: 15px;
}
#contact {
	margin-top: 40px;
}
.aboot {
	margin-bottom: -10px;
	margin-top: -2px;
	margin-left: 20px;
	border-bottom-style: groove;
	border-bottom-color: #DDD;
	color: #68d6b3;
	line-height: 2.0;
}
a {
	text-decoration: none;
}
img {
	margin-top: 10px;
}
footer {
 	text-align: center;
	margin-left: 147px;
	background-color: #666;
	position: absolute;
	padding-left: 446px;
	padding-right: 446px;
	padding-top: 35px;
	padding-bottom: 11px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #68d6b3;
	margin-top: -85px;
	color: #cfcfcf;
	font-size: 12px;
}
.connect {
	float: right;
	background-color: white;
	margin-top: -405px;
	margin-right: -276px;
	padding: 1px;
	padding-top: 5px; 
	padding-right:23px;
	padding-left:23px;
	padding-bottom:5px;
}
h5{
	color: #68d6b3;
	border-bottom-style: groove;
	border-color: #DDD;
	font-size: 20px;
	margin-top: 8px;
	margin-bottom: 23px;
	line-height: 1.8;
	text-align: center;
	margin-left: 1px;
	padding-bottom: 5px;
}
#github, #linked, #stack{
	float: left;
}
#linked {
	margin-top: -19px;
	padding-right: 5px;
	padding-left: 1px;
}
#github {
	margin-top: -19px;
	padding-right: 3px;
	padding-left: 0px;
}
#stack {
	margin-top: -16px;
	padding-right: 1px;
	padding-left: 1px;
}
.two2 {
	padding-top: 0px;
	padding-left: 78px;
	padding-right: 135px;
	padding-bottom: 148px;
	height: 474px;
	width: 836px;
	display: inline-block;
	margin-top: 111px;
	margin-right: -188px;
	margin-left: 147px;
	border-top-style: solid;
	border-color: #f7f0e3;
}
.three2 {
	background-color: white;
	margin-top: 32px;
	margin-bottom: 52px;
	margin-left: 41px;
	margin-right: 282px;
	padding: 10px;
	padding-top: 9px;
	padding-right: 30px;
	padding-left: 0px;
	padding-bottom: 24px;
}
h4 {
	margin-bottom: 26px;
	margin-top: 2px;
}
.contactword {
	margin-bottom: -10px;
	margin-top: -2px;
	margin-left: 20px;
	border-bottom-style: groove;
	border-bottom-color: #DDD;
	color: #68d6b3;
	line-height: 2.0;
}
h3 {
	color: #777777;
	margin-left: 20px;
	margin-top: 20px;
}
.email {
	color: #777777;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 19px;
	font-size: 20px;
}
.message {
	color: #777777;
	margin-left: 20px;
	font-size: 20px;
	margin-top: 10px;
}
textarea {
	width: 452px;
	margin-left: 20px;
	margin-top: -19px;
}
.messagebox {
	width: 452px;
	height: 161px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: -41px;
}
.connect2 {
	float: right;
	background-color: white;
	margin-top: -522px;
	margin-right: -276px;
	padding: 1px;
	padding-top: 5px; 
	padding-right:23px;
	padding-left:23px;
	padding-bottom:5px;
}
.footer2 {
	text-align: center;
	margin-left: 147px;
	background-color: #666;
	position: absolute;
	padding-left: 446px;
	padding-right: 446px;
	padding-top: 35px;
	padding-bottom: 11px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #68d6b3;
	margin-top: -85px;
	color: #cfcfcf;
	font-size: 12px;
}
#submit {
    color: white;
    background-color: #68d6b3;
    text-align: center;
    margin-left: 20px;
    padding: 4px;
    margin-top: 34px;
    margin-bottom: -1px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.two3 {
	padding-top: 0px;
	padding-left: 78px;
	padding-right: 135px;
	padding-bottom: 188px;
	height: 474px;
	width: 836px;
	display: inline-block;
	margin-top: 111px;
	margin-right: -188px;
	margin-left: 147px;
	border-top-style: solid;
	border-color: #f7f0e3;
}
.three3 {
	background-color: white;
	margin-top: 20px;
	margin-bottom: 168px;
	margin-left: 41px;
	margin-right: 282px;
	padding: 10px;
	padding-top: 0px;
	padding-right: 30px;
	padding-left: 0px;
	padding-bottom: 1px;
}
.portfolioword {
	margin-bottom: -7px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 20px;
	border-bottom-style: groove;
	border-bottom-color: #DDD;
	color: #68d6b3;
	line-height: 2.0;
	position: relative;
}
.connect3 {
	float: right;
	background-color: white;
	margin-top: -705px;
	margin-right: -276px;
	padding: 1px;
	padding-top: 5px; 
	padding-right:23px;
	padding-left:23px;
	padding-bottom:5px;
}
.footer3 {
	text-align: center;
	margin-left: 147px;
	background-color: #666;
	position: absolute;
	padding-left: 446px;
	padding-right: 446px;
	padding-top: 35px;
	padding-bottom: 11px;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #68d6b3;
	margin-top: -85px;
	color: #cfcfcf;
	font-size: 12px;
}
#hangman {
	margin-left: 20px;
}
#hangmantag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: -160px;
    padding: 4px;
    margin-top: 89px;
    margin-bottom: -29px;
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#trivia {
	margin-left: 20px;
}
#triviatag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: -160px;
    padding: 4px;
    margin-top: 89px;
    margin-bottom: -29px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
#rpc {
	margin-left: 20px;
}
#rpctag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: -160px;
    padding: 4px;
    margin-top: 89px;
    margin-bottom: -29px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
#rpg {
	margin-left: 231px;
	margin-bottom: 277px;
	margin-top: -438px;
}
#rpgtag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: -160px;
    padding: 4px;
    margin-top: 89px;
    margin-bottom: -61px;
    padding-left: 46px;
    padding-right: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
 #widget{
	margin-left: 231px;
	margin-bottom: 185px;
	margin-top: -253px;
}
#widgettag {
    color: white;
    background-color: #68d6b3;
    position: absolute;
    margin-left: -160px;
    padding: 4px;
    margin-top: 89px;
    margin-bottom: -61px;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 5px;
    padding-bottom: 5px;
  }